@model List<Chef>

<!-- ======= Chefs Section ======= -->
    <section id="chefs" class="chefs section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Chefs</h2>
          <p>Our <span>Proffesional</span> Chefs</p>
        </div>

        <div class="d-flex justify-content-between">

            @foreach (var chef in Model)
            {
                  <a asp-controller="Chefs" asp-action="Details" asp-route-id="@chef.Id">
                    <div class="chef-member col-lg-3">
                        <div class="member-img">
                            <img src="~/assets/img/chefs/@chef.Image" class="img-fluid" alt="">
                            <div class="social">
                                <!-- a tag-i icinde a tag-i oldugu ucun uzerine click edende details sehifesini acmir, 
                                amma inspectde a href elave edir. Eger social divini butovlukde silsem onda hecbir problem olmuyacaq,
                                details sehifesine yonlendirecek. Sadece dizaynda ferq olacaq.-->
                                <a href=""><i class="bi bi-twitter"></i></a>
                                <a href=""><i class="bi bi-facebook"></i></a>
                                <a href=""><i class="bi bi-instagram"></i></a>
                                <a href=""><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                        <div class="member-info">
                            <h4>@chef.Name</h4>
                            <span>@chef.Profession.Name</span>
                            <p>@chef.About</p>
                        </div>
                    </div>

                            <!-- End Chefs Member -->
                  </a>
            }

        </div>

      </div>
    </section><!-- End Chefs Section -->
